Filter [Crymsius's LootFilter - A filter for colour blind - Updated for 3.0]

Version [3.0.0]
LastUpdate [12.06.2017]
PoEVersion [3.0.x]

ForumThread [https://www.pathofexile.com/forum/view-thread/1895126]
SmartBlocks on
SmartColors on

Source [Crymsius-filter] [https://raw.githubusercontent.com/Crymsius/Crymsius-filter/master/Crymsius-filter-filterblast.filter]
