Filter [Crymsius's LootFilter - A filter for colour blind - Updated for 3.1]

Version [3.1.1a]
LastUpdate [21 Jan 2018]
PoEVersion [3.1.x]

ForumThread [https://www.pathofexile.com/forum/view-thread/1895126]
SmartBlocks on
SmartColors on

Source [Crymsius-filter] [https://raw.githubusercontent.com/Crymsius/Crymsius-filter/master/Crymsius-filter-filterblast.filter]
