Filter [Crymsius's Auto-Tiering Filter for Colorblind]

Version [3.5.2_2018.12.12_08:00]
LastUpdate [2018.12.12_08:00]
PoEVersion [3.5.x]

ForumThread [https://www.pathofexile.com/forum/view-thread/1895126]
SmartBlocks on
SmartColors on

Source [Crymsius-filter] [https://raw.githubusercontent.com/Crymsius/Crymsius-filter/master/Crymsius-filter-filterblast.filter]
